{% extends 'base.html'%}


{%  block title %}Contact{% endblock title %}

{% block content %}
<style>
    body {
        background-color: #b2b2b28e; 
      }
    img {
      width: 30%;

      display: block;
      margin: 0 auto;
    }
    
    h1 {
      color: #333; 
      text-align: center;
    }
    
    p {
      color: #666; 
      text-align: center;
    }
  </style>
<h1> Ready to partner? </h1>

<p> Email: Fake@fake.org
    <br/>Phone number:374-4892-5739
    <br/>Fax number: 573-482-5832
</p>




{% endblock content %}
